/* Medium Devices, Desktops */
@media only screen and (max-width : 959px) {
	.wrapper{
		width: 769px;
		margin: 0 auto;
	}

	header {
		background-image: url('../img/header_bg.png');
	}

	header .phone a{
		font-size: 14px;
	}
	
	header .header_descr {
		padding: 0;
	}
	
	header .header_descr p{
		font-size: 12px;
	}

	header .header_acount {
		width: 25%;
	}
	
	header .social li{
		margin-left: 6px;
	}
 	
 	header .header_button {
 		width: 35%;
 	}

	header .col-12 img {
    height: 80px;
	}
	
	header nav {
    margin-top: 19px;
	}

	header nav ul li a{
		padding: 5px 8px;
		font-size: 12px;
	}

	h1{
		text-shadow: 0 0 5px #fff;
	}

	h1 span:nth-child(1) {
    color: #588313;
    text-shadow: 0 0 5px #fff;
  }
	
	.main header img {
		margin: 5px 0 0 0;
	}
	
	.main_content aside div {
		width: 95%;
	}

  .main_content aside div img {
		width: 222px;
		right: 11px;
  }

  .main_content aside div h2 {
  	right: 77px;
  	font-size: 20px;
  }

  .main_content aside div ul li {
  	margin-left: 55px;
  }
	
  .products_container .product_box p {
  	padding: 0 4px;
  }

  .products_container .product_box .more {
    margin: 0 auto 5px auto;
    display: block;
    width: 61px;
  }

  .products_container .likes {
   display: block;
   width: 54px;
   margin: 0 auto;
   padding: 5px;
  }

  .pages_box {
    width: 295px;
   }
	footer p{
		font-size: 10px;
	}
   footer .services p {
    width: 100px;
    margin-left: 5px;
  }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 769px) {
	.wrapper{
			width: 100%;
			margin: 0 auto;
	}

	header {
		background-image: url('../img/header_bg_480.png');
	}

	header .row .col-50{
		display: table;
		width: 100%;
	}

	header .phone,
	header .header_descr {
    width: 50%;
    padding: 5px;
    text-align: center;
	}

	header .phone span{
		display: none;
	}
	
	header .social {
		width: 50%;
		text-align: center;
	}

	header .header_button {
		width: 25%;
	}
	
	header .shop div:nth-child(1) span {
    margin-left: 25px;
  }

	header .shop div:nth-child(2) span {
    font-size: 12px;
  }

  header .col-12 img {
  	position: absolute;
    height: 70%;
    margin: 0;
    top: 20px;
	}
	
	.col-12{
		position: relative;
	}

	.col-12,
	.col-10 {
    width: 25%;
	}

	.col-78 {
    width: 50%;
  }

	header nav {
		margin: 0;
	}

	header nav ul li {
    display: block;
    margin-top: 10px;
    text-align: center;
  } 

	header form {
		width: 260px;
	}
	
  header form input[name="search_text"] {
    width: 193px;
  }

  header form input[name="search"]{
  	padding: 7px 5px 6px 5px; /*in case production change to padding: 7px 5px 4px 5px;*/
  }

  header form span {
  	display: none;
  }

  /*----------MAIN----------*/
	.main header .content {
 		box-shadow: inset 15px 0 230px #FEF068;
 	}

	.main .col-75 {
 		padding-left: 10px;
 	}


 /*---aside---*/
	aside {
    width: 30%;
	}

	.main_content aside div {
    width: 100%;
	}

	.main_content aside div ul {
    padding: 30px 0 5px 0;
	}

	.main_content aside div ul li {
    margin-left: 15px;
	}

	.main_content aside div img {
    width: 33vw;
    height: 35px;
    top: 17px;
    right: 10px;
	}

	.main_content aside div h2 {
    right: 6vw;
    top: 19px;
  }

  .header span {
  	margin-right: 5px;
  }
	
	aside .header{
		margin-top: 25px;
	}

  aside .header h3 {
    font-size: 14px;
	}

	.main_content .prod_rev--img, 
	.main_content .prod_rev--descr {
    display: block;
    width: 100%;
    margin: 0 auto;
    text-align: center;
    vertical-align: baseline;
	}
	
	.main_content .prod_rev--img img {
		display: block;
		margin: 0 auto;
	}

	.main_content .payment {
    margin: 10px auto 0 auto;
    width: 90px;
    height: 118px;
  }
	
	.main_content aside .more{
		display: block;
		width: 120px;
		margin: 10px auto;
		padding: 3px 10px;
		text-align: center;
	}

  /*-----------products-----------*/
  .products {
  	display: table-cell;
    width: 80%;
  }

	.products .header{
		text-align: center;
	}

	.today_container {
    width: 70%;
    margin: 20px auto;
	}

  .today_product {
  	display: block;
  }

  .today_product--block {
  	display: table;
  	width: 75%;
  	margin: 15px auto 0 auto;
  }

  .today_product--block {
  	width: 90%;
  }

  .today_product--block:nth-child(2) {
    border-top: 2px solid #F4F3D6;
    border-bottom: 2px solid #F4F3D6;
    border-right: none;
    border-left: none;
	}
	
	.today_product .today_product--block img {
		height: auto;
	}

	.today_product .today_product--block p,
	.products_container .product_box p {
		font-size: 3vw;
		padding: 0 10px;
	}

	.today_product .today_product--block a {
		font-size: 3vw;
	}

	.products_container .col-25{
		display: inline-block;
		width: 50%;
	}
	
	.products_container .likes {
		width: 63px;
	}

	.products_container .product_box .more,
	.products_container .product_box .heart {
		width: 80px;
		font-size: 15px;
	}

	/*--------------------FOOTER--------------------*/
	footer{
		position: relative;
		padding: 20px 5px;
		height: auto;
	}

	footer .container,
	footer .container .row,
	footer .container .row .col-15,
	footer .container .row .col-33,
	footer .container .row .col-50{
		display: block;
		width: 100%;
		padding: 0;
	}
	footer ul,
	footer .col-33:nth-child(2) ul{
		padding: 5px;
	}

	footer ul li{
		display: inline-block;
	}

	.foo{
		position: absolute;
		width: 100%;
		bottom: 0;
		right: 0;
	}

	footer .box h4:nth-child(1),
	footer .social{
		display: none;
	}

	footer .box h4:nth-child(3){
		text-align: center;
	}

	footer form {
    position: relative;
    width: 230px;
    margin: 0 auto;
  }

  footer .services {
  	display: inline-block;
  	width: 40%;
  	margin-left: 6vw;
  }

  footer .arrow{
  	position: absolute;
  	bottom: 100px;
  	right: 5px;
  }
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.wrapper{
		width: 320px;
		min-width: 320px;
		margin: 0 auto;
	}

	header .social,
	header .col-12,
	.header span,
	.products_container .row:nth-child(2),
	footer .row .col-33:nth-child(2){
		display: none;
	}

	header .header_acount,
	header .header_button {
		width: 50%;
	}
	
	header nav {
    margin-top: 20px;
	}

	header form {
    width: 215px;
    margin: 20px auto 0 -3px;
	}
	
	.main header .content {
    height: 215px;
  }

	.main .col-75 {
    padding-left: 5px;
	}

	h1 span:nth-child(2), h1 span:nth-child(3) {
    font-size: 51px;
    line-height: 40px;
	}

	.main header a {
		font-size: 15px;
	}

	.main header img {
    width: 100px;
	}

	.main_content aside div h2 {
    right: 16px;
    font-size: 18px;
	}

	.main_content aside div ul li {
    margin-top: 10px;
    margin-left: 5px;
	}
	
	.main_content aside div img {
    width: 112px;
  }

	aside .header h3 {
    font-size: 16px;
    text-align: center;
	}

	.header h3 {
    font-size: 20px;
	}
	
	.today_container {
    width: 100%;
    margin: 10px auto;
	}

	.products_container .col-25 {
    display: block;
    width: 100%;
	}
	
	.today_product .today_product--block p,
	.products_container .product_box p{
    font-size: 4vw;
    padding: 0px 5px;
	}

	.pages_box {
    width: 100%;
    text-align: center;
	}

	footer{
		padding: 20px 0;
		background-image: url('../img/footer_bg_320.png');
	}

	footer .box h4:nth-child(1), footer .social {
    display: block;
	}
}
/* Custom, iPhone Retina */
@media only screen and (max-width : 319px) {
	#top,
	.wrapper,
	.main,
	.footer{
		min-width: 320px;
		margin: 0 auto;
	}
	
	footer .arrow,
	.foo {
    display: none;
	}
}