/*-----------------Wrapper-----------------*/
.wrapper{
	width: 960px;
	margin: 0 auto;
}

/*-----------------Fonts------------------*/

@font-face {
	font-family: rockwell;
	src: url('fonts/rockwell.ttf');
	src: url('fonts/rockwell.woff');
	src: url('fonts/rockwell.eot');
}

/*-----------Basic-grid-layout------------*/

.container{
	display: table;
	width: 100%;
}

.row{
	display: table-row;
	width: 100%;
}

.col-10, .col-12, .col-16, .col-25, .col-33, .col-37-5, 
.col-50, .col-75, .col-78{
	display: table-cell;
}

.col-10, .col-12, .col-16, .col-25, .col-33{
	padding: 5px;
}

.col-10, .col-12, .col-16, .col-25, .col-33, .col-37-5, .col-78{
	vertical-align: middle;
}

.col-10{
	width: 10%;
}

.col-12{
	width: 12%;
}

.col-16{
	width: 16%;
}

.col-25{
	width: 25%;
}

.col-33{
	width: 33.33333333333333%;
}

.col-37-5{
	width: 37.5%;
}

.col-50{
	width: 50%;
}

.col-75{
	width: 75%;
}

.col-78{
	width: 78%;
	padding-top: 5px;
}

/*----------------Header----------------*/
header {
	background-image: url('../img/header_bg.png');
	background-repeat: repeat-x;
}

header .phone{
	display: table-cell;
	width: 35%;
}

header .phone span{
	display: inline-block;
	width: 20px;
	height: 20px;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: -55px 0;
}

header .phone a{
	color: #fff;
	text-decoration: none;
	text-shadow: 0 1px 1px #3d5778; 
	font-family: rockwell, 'Times New Roman', serif;
	font-size: 20px;
	line-height: 26px;
	vertical-align: text-bottom;
}

header .header_descr{
	display: table-cell;
	width: 65%;
	padding-left: 24px;
	vertical-align: middle;
}

header .header_descr p,
header .header_acount p{
	color: #bacde4;
	font-family: Arial;
	font-size: 13px;
	text-align: center;
	text-shadow: 0 1px 1px #3d5778;
}

header .social{
	display: table-cell;
	padding-top: 5px;
	width: 40%;
}

header .social li,
footer .social li{
	display: inline-block;
	margin-left: 8px;
	border-radius: 50%;
	background-color: #3D5778;
	-webkit-box-shadow: 0 1px 1px #90abcd;
	box-shadow: 0 1px 1px #90abcd;
}

header .social li a,
footer .social li a{
	display: block;
	width: 27px;
	height: 27px;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: -102px 5px;
}

header .social li:nth-child(2) a,
footer .social li:nth-child(2) a{
	background-position: -129px 5px;
}

header .social li:nth-child(3) a,
footer .social li:nth-child(3) a{
	background-position: -156px 4px;
}

header .social li:nth-child(4) a,
footer .social li:nth-child(4) a{
	background-position: -183.5px 5px;
}

header .header_acount{
	display: table-cell;
	width: 30%;
	vertical-align: middle;
}

header .header_button{
	display: table-cell;
	width: 30%;
	vertical-align: middle;
}

header .shop{
	display: table-row;
	width: 100%;
}

header .shop div{
	display: table-cell;
	width: 50%;
	height: 27px;
	border: 1px solid #881C04;
	font-size: 12px;
	line-height: 27px;
	vertical-align: middle;
}

header .shop div a{
	margin-right: 10px;
	color: #fff;
	text-decoration: none;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: -206px -3px;
}

header .shop div:nth-child(1){
	padding-left: 4px;
	border-radius: 25px 0 0 25px;
	background-image: url('../img/button_shop_left_bg.png');
	background-repeat: repeat-x;
}

header .shop div:nth-child(1) span{
	margin-left: 30px;
	font-size: 12px;
} 

header .shop div:nth-child(2){
	padding: 0 10px;
	border-radius: 0 25px 25px 0;
	background-image: url('../img/button_shop_right_bg.png');
	background-repeat: repeat-x;
}

header .shop div:nth-child(2) span{
	color: #fff;
	font-size: 15px;
	font-weight: bold;
}

header .col-12 img{
	margin-top: 15px;
	height: 105px;
}

header .col-10 div{
	width: 90px;
	margin: 0 auto;
	background-image: url('../img/sign_in_bg.png');
	background-repeat: repeat-x;
	border: 1px solid #007F7E;
	border-radius: 5px 5px 0 0;
	text-transform: uppercase;
	font-family: Arial;
	font-size: 11px;
}

header .col-10 div span{
	display: inline-block;
	width: 15px;
	height: 15px;
	margin-left: 2px;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: 0 0;
	vertical-align: sub;
}

header .col-10 div a{
	display: inline-block;
	width: 100%;
	margin-left: 5px;
	padding: 5px 0;
	color: #fe6847;
	text-decoration: none;
	font-weight: bold;
}

header .col-10 div:nth-child(2){
	background-image: url('../img/register_bg.png');
	border-radius: 0 0 5px 5px;
}

header .col-10 div:nth-child(2) span{
	background-position: -17px 0;
}

header .col-10 div:nth-child(2) a{
	color: #008281;
}

header nav{
	margin-top: 44px;
}

header nav ul li{
	display: inline-block;
	margin-left: 15px;
	
}

header nav ul li a{
	padding: 5px 15px;
	border-radius: 4px;
	color: #fff;
	text-transform: uppercase;
	text-decoration: none;
	text-shadow: 0 1px 2px rgba(111, 204, 204, 0.75);
	font-family: Arial;
	font-size: 13px;
	font-weight: bold;
}

header nav ul li a:hover{
	-webkit-transition: background 0.7s;
	-o-transition: background 0.7s;
	transition: background 0.7s;
	background-color: rgba(19, 123, 122, 0.75);
	-webkit-box-shadow: inset 0 1px 2px rgba(19, 123, 122, 1);
	box-shadow: inset 0 1px 2px rgba(19, 123, 122, 1);
}

.active_menu{
	color: #f8f5c6;
}

/*-----------------------Header-search-----------------------*/

header form{
	position: relative;
	width: 420px;
	margin: 30px auto 0 auto;
	padding: 8px 8px 0 8px;
	border-radius: 4px 4px 0 0;
	background-image: url('../img/main_bg.png');
	-webkit-box-shadow: inset 0 1px 2px rgba(19, 123, 122, 1);
	box-shadow: inset 0 1px 2px rgba(19, 123, 122, 1);
	font-size: 13px;
}

header form input[name="search_text"]{
	width: 319px;
	padding: 5px;
}

header form input[name="search"],
footer form input[name="subscribe"]{
	position: absolute;
	top: 8px;
	right: 5px;
	padding: 7px 30px 6px 15px;
	border: 2px solid #EC431E;
	color: #96230A;
	background-image: url('../img/search_bg.png');
	background-repeat: repeat-x;
	text-transform: uppercase;
	font-size: 11px;
	font-weight: bold;
	cursor: pointer;
}

header form span{
	position: absolute;
	top: 12px;
	right: 11px;
	width: 20px;
	height: 20px;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: -35px 0;
	z-index: 2;
}

/*-------------------------------Main-------------------------------*/
.main	{
	padding: 25px 0;
	background-image: url('../img/main_bg.png');
}

/*---------------------------- main-header---------------------------- */
.main header,
.main_content aside ul,
.prod_rev .prod_rev--img img,
.today_container,
.product_box{
	padding: 6px;
	background-color: #fff;
	background-image: none;
	border: 6px solid rgba(231, 227, 168, 0.75);
	border-radius: 4px;
}

.main header .content{
	width: 100%;
	height: 350px;
	background-image: url('../img/section_bg.jpg');
	background-repeat: no-repeat;
}

.main .col-75{
	padding-left: 50%;
	vertical-align: middle;
}

h1{
	width: 185px;
}

h1 span{
	color: #ea5000;
	font-family: rockwell, 'Times New Roman', serif;
	font-size: 25px;
	line-height: 25px;
}

h1 span:nth-child(2),
h1 span:nth-child(3){
	font-size: 60px;
	line-height: 45px;
}

h1 span:nth-child(3){
	color: #588313;
}

.main header a{
	display: inline-block;
	margin-top: 25px;
	padding: 5px 35px;
	border: 1px solid #d00e0e;
	border-radius: 45px;
	color: #fff;
	background-image: url('../img/shop_mungos_button_bg.png');
	background-repeat: repeat-x;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 2px 2px rgba(254, 148, 124, 0.75);
	font-size: 18px;
	font-weight: bold;
	-webkit-box-shadow: 0 0 15px rgba(200, 196, 73, 1);;
	box-shadow: 0 0 15px rgba(200, 196, 73, 1);;
}

.main header img{
	display: block;
	margin: 5px 0 0 40px;
} 

/*------------------------Aside block------------------------*/

.main_content{
	margin-top: 25px;
	display: table;
	width: 100%;
}
/*-------Categories-------*/
aside{
	display: table-cell;
	width: 30%;
}

.products{
	display: table-cell;
	width: 70%;
	vertical-align: top;
	padding-top: 10px;
}

.main_content aside div{
	position: relative;
	width: 100%;
	padding: 5px;
}

.main_content aside div ul{
	padding: 50px 0 25px 0;
}

.main_content aside div ul li{
	margin-top: 6px;
	margin-left: 75px;
	list-style-type: none;
}

.main_content aside div ul li a{
	color: #707070;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

.main_content aside div ul li a:hover{
	color: #fe6847;
}

.main_content aside div ul li a span{
	margin-right: 5px;
	color: inherit;
}

.main_content aside div img{
	position: absolute;
	width: 301px;
	top: 25px;
	right: 10px;
	z-index: 1;
}

.main_content aside div h2{
	position: absolute;
	top: 26px;
	right: 80px;
	color: #fff;
	font-family: rockwell, 'Times New Roman', serif;
	font-size: 26px;
	z-index: 2;
}

.header h3{
	display: inline-block;
	color: #707070;
	font-family: rockwell, 'Times New Roman', serif;
	font-size: 24px;
	line-height: 24px;
	vertical-align: middle;
}

.header span{
	display: inline-block;
	width: 24px;
	height: 24px;
	margin-right: 10px;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: -79px 0;
	vertical-align: middle;
}

.prod_rev{
	display: table;
} 

.main_content .prod_rev--img,
.main_content .prod_rev--descr{
	display: table-cell;
	vertical-align: top;
}

.main_content .prod_rev--img{
	width: 30%;
}

.main_content .prod_rev--img img{
	position: static;
	width: 70px;
	height: 70px;
	padding: 0;
	margin: 0;
}

.main_content .prod_rev--descr{
	width: 70%;
	padding-top: 10px;
	font-family: Arial, sans-serif;	
	font-size: 12px;
}

.main_content .prod_rev--descr a{
	display: block;
	color: #707070;
	text-decoration: none;
}

.main_content .prod_rev--descr a:hover{
	color: #fe6847;
}

.main_content .prod_rev--descr span{
	font-style: italic;
	color: #a5a5a5;
}

.main_content .clearfix{
	width: 95%;
	margin: 5px auto 10px auto;
	padding: 0;
	height: 2px;
	background-color: #C7C371;
}

.main_content aside .more,
.products_container .product_box .more{
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 25px;
	padding: 5px 10px;
	border: 1px solid #CBC892;
	border-radius: 20px;
	background-image: url('../img/more_but.png');
	background-repeat: repeat-x;
	color: #fe6847;
	font-size: 10px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
}

.main_content .payment {
	margin-top: 10px;
	margin-left: 22px;
	width: 185px;
	height: 58px;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: 0 -28px;
}

/*-----------Product-block--------------*/
.today_container{
	margin: 20px 0;
}

.today_product{
	width: 100%;
	display: table-row;
}

.today_product--block{
	display: table-cell;
	padding: 5px;
	width: 33.3333333%;
}

.today_product--block:nth-child(2){
	padding: 15px 5px;
	border-right: 2px solid #F4F3D6;
	border-left: 2px solid #F4F3D6;;
}

.today_product .today_product--block img{
	display: block;
	width: 100%;
	height: 100px;
	border-radius: 4px;
}

.today_product .today_product--block p,
.products_container .product_box p{
	margin: 15px 0;
	color: #707070;
	font-family: Arial, sans-serif;
	font-size: 12px;
}

.today_product .today_product--block p span,
.products_container .product_box p span{
	color: #228281;
	font-weight: bold;
	text-transform: uppercase;
}

.today_product .today_product--block a{
	color: #fe6847;
	font-size: 13px;
	text-decoration: none;
}
.today_product .today_product--block a span{
	display: inline-block;
	margin-right: 5px;
}

/*------------------product-container------------------*/
.products_container{
	width: 100%;
	margin: 20px 0;
}

.product_box{
	padding: 1px 1px 10px 1px;
}

.products_container .product_box img{
	display: block;
	width: 100%;
}

.products_container .product_box p{
	padding: 0 10px;
	color: #000;		
	font-size: 12px;
}

.products_container .product_box .more {
	display: inline-block;
	margin: 0 0 0 10px;
	padding: 3px 5px 3px 15px;
}

.products_container .likes{
	display: inline-block;
	padding-left: 20px;
}

.products_container .product_box .heart{
	padding: 5px 0;
	font-family: Arial, sans-serif;
	font-size: 10px;
	line-height: 12px;
	vertical-align: middle;
}

.products_container .product_box i{
	display: inline-block;
	margin-left: 5px;
	width: 18px;
	height: 15px;
	background-image: url('../img/icon_spread.png');
	background-repeat: no-repeat;
	background-position: -187px -25px;
	vertical-align: middle;
	cursor: pointer;
}

.products_container .product_box .activ_prod{
	background-position: -209px -25px;
	cursor: initial;
}

/*pages-box*/
.pages_box{
	width: 50%;
	margin: 0 auto;
	padding: 15px;
}

.pages_box a{
	display: inline-block;
	padding: 5px 10px;
	color: #fe6847;
	text-decoration: none;
	font-size: 12px;
}

.pages_box a:hover{
	color: #fff;
	background-color: #C2BE67;
}

/*>---------<FOOTER>---------<*/

footer .col-50{
	vertical-align: top;
}

footer .col-33{
	vertical-align: top; 
}

footer{
	padding: 15px 0;
	background-image: url('../img/footer_bg1.png');
	background-repeat: repeat-x;
}

footer h4{
	padding-left: 15px;
	color: #f8f5c6;
	font-size: 15px;
	font-weight: bold;
}

footer ul{
	padding: 15px 12px 5px;
}

footer .col-33:nth-child(2) ul{
padding: 15px 0 5px;
}

footer ul li{
	list-style-type: none;
}

footer ul li a{
	color: #cfcfcf;
	text-decoration: none;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

footer p{
	margin-top: 10px;
	padding-bottom: 5px;
	color: #cfcfcf;
	text-align: center;
	font-family: Arial, sans-serif;
	font-size: 11px;
}

footer p a{
	text-decoration: none;
	color: inherit;
}

footer p a span{
	text-decoration: underline;
}

footer .social{
	margin: 15px 0;
	padding: 0;
}

footer .box{
	padding: 5px;
}

/*------------subscribe form------------*/
footer form{
	position: relative;
	width: 100%;
}

footer form input[name="user_mail"]{
	padding: 3px;
	width: 176px;
}

footer form input[name="subscribe"]{
	padding: 5px 5px 4px 5px;
	top: 0;
	right: 0px;
}

footer .services{
	margin-bottom: 15px;
}

footer .services img{
	display: inline-block;
	width: 40px;
	margin-left: 5px;
	vertical-align: middle;
}

footer .services:nth-child(2) img{
	width: 35px;
	margin-left: 10px;
}

footer .services p{
	display: inline-block;
	width: 70%;
	text-align: left;
	vertical-align: middle;
}

footer .arrow img{
	display: block;
	width: 30px;
	margin: 0 auto;
}

footer .arrow p{
	margin-top: 2px;
}