
h1 {
    text-align: center;
}

.search-form{
    position: relative;
    width: 65%;
    margin: 3% auto;
    padding: 20px 0 15px;
    border: 1px solid black;
    text-align: center;
}

.search-form h2{
    position: absolute;
    top:-27px;
    left: 25px;
    padding: 0 5px;
    background-color: white;
    font-family:sans-serif;
    font-size: 18px;
}
.answer{
    display: block;
    width: 75%;
    margin: 2% auto;
    padding: 1% 5%;
    text-align: left;
}
.answer span{
    margin-left: 10px;
    font-family: serif;
    font-style: italic;
    font-weight: bold;
}

.response h3{
    color: #aa2222;
    text-transform: uppercase;
}

table{
    width:100%;
    text-align: center;
}

th,
td{
    padding: 5px 0;
    min-width:25%;
}

th{
    background-color: #ddd;
}